main.js
main.js.map
node_modules/
test-vault/.obsidian/plugins/obsidian-vault-changelog/
!test-vault/.obsidian/plugins/journals/.hotreload
test-vault/.obsidian/plugins/*
!test-vault/.obsidian/plugins/hotreload/main.js
!test-vault/.obsidian/plugins/hotreload/manifest.json
test-vault/.obsidian/app.json
test-vault/.obsidian/appearance.json
test-vault/.obsidian/core-plugins-migration.json
test-vault/.obsidian/core-plugins.json
test-vault/.obsidian/workspace.json
test-vault/**/*.md
!test-vault/Change.md
!test-vault/Changelog.md
!test-vault/Delete.md
!test-vault/Home.md
